# Conduit Connector {{ title .specification.Name }}

{{ if .specification.Description -}}
  {{ .specification.Description }}
{{ else -}}
  {{ .specification.Summary }}
{{- end }}

## Source

### Configuration Parameters

{{ template "parameters" args "specification" .specification "parameters" .sourceParams }}

## Destination

### Configuration Parameters

{{ template "parameters" args "specification" .specification "parameters" .destinationParams }}
