{{ define "parameters.yaml" }}
```yaml
version: 2.2
pipelines:
  - id: example
    status: running
    connectors:
      - id: example
        plugin: "{{ .specification.name }}"
        settings:
        {{- range $param := .parameters }}
          {{ formatCommentYAML $param.description 10 }}
          # Type: {{ $param.type }}
          # Required: {{ if isParameterRequired $param }}yes{{ else }}no{{ end }}
          {{ $param.name }}: {{ if $param.default }}"{{ $param.default }}"{{ else }}"{{ zeroValueForType $param.type }}"{{ end }}
        {{- end }}
```
{{ end }}
